<div class="col-lg-10 col-sm-offset-1 text-center">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>role</th>
                    <th>Last Login Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users track by $index">
                    <td>
                        {{user.u_id}}
                    </td>
                    <td>
                        <input ng-show="editMode" type="text" class="form-control input-xs text-center" ng-model="user.u_first" required/>
                        <span data-toggle="tooltip" title="Click To Edit" ng-click="editMode = true" ng-show="!editMode">
                            {{user.u_first}}
                        </span>
                    </td>
                    <td>
                        <input ng-show="editMode" type="text" class="form-control input-xs text-center" ng-model="user.u_last" required/>
                        <span data-toggle="tooltip" title="Click To Edit" ng-click="editMode = true" ng-show="!editMode">
                            {{user.u_last}}
                        </span>
                    </td>
                    <td>
                        <input ng-show="editMode" type="text" class="form-control input-xs text-center" ng-model="user.u_email" required/>
                        <span data-toggle="tooltip" title="Click To Edit" ng-click="editMode = true" ng-show="!editMode">
                            {{user.u_email}}
                        </span>
                    </td>
                    <td>
                        <select ng-show="editMode" ng-model="user.u_role" class="form-control" required>
                            <option value="ADMIN">
                                Admin
                            </option>
                            <option value="USER">
                                User
                            </option>
                        </select>
                        <span data-toggle="tooltip" title="Click To Edit" ng-click="editMode = true" ng-show="!editMode">
                            {{user.u_role}}
                        </span>
                    </td>
                    <td>
                        {{user.u_last_login_date}}
                    </td>
                    <td>
                        <button data-toggle="tooltip" title="Click To Edit" data-placement="top" ng-hide="editMode" type="button" ng-click="editMode = true" class="btn btn-primary edit_label_button">
                            <span class='glyphicon glyphicon-pencil task_button_edit_icon' aria-hidden="true"></span>
                        </button>
                        <form ng-show="editMode" ng-submit="editMode = false" ng-click="editUser(user)">
                            <span class="btn-group">
                                <button type="submit" class="btn btn-success" aria-label="Left Align">
                                    <span class='glyphicon glyphicon-floppy-saved task_button_save_icon'></span>
                                </button>
                            </span>
                        </form>
                    </td>
                    <td>
                        <button type="button" ng-click="deleteTask(user.u_id)" class="btn btn-danger delete_label_button" aria-label="Left Align">
                            <span class='glyphicon glyphicon-trash' aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
